.idea

**/.env
**/.env.bak
**/.env.local
**/.env.production
**/.env.staging
**/__pycache__

**/venv
**/env
**/virtualenv
api/media/*
backups/*
api/logs/*
!api/logs/.gitkeep
!backups/.gitkeep
api/celerybeat*
apps/media/*
containers/data
containers/.envs/.local
containers/.envs/.development
containers/.envs/.staging
containers/.envs/.production

.vscode

.coverage

.terraform
.docker
terraform.tfstate

development.json
development.backend.json
staging.json
staging.backend.json
production.json
production.backend.json
node_modules

htmlcov

hosting/keys

/secrets
local.yml


.mypy_cache
api/staticfiles/*